.cont_banner {
  width: 100%;
  height: calc(100vh - 14px);
  background-color: #d8dff4;
  .wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 100%;
    .txt {
      strong {
        font-size: 55px;
        line-height: 80px;
        display: block;
        margin-bottom: 20px;
      }
      p {
        font-size: 20px;
        line-height: 30px;
      }
    }
    .txt.on {
      animation: slideUp 1s forwards;
    }
    .img {
      position: relative;
      width: 700px;
      height: 620px;
      img {
        position: absolute;
        opacity: 0;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      }
      img.on {
        animation: slideUp 1s forwards;
      }
      @keyframes slideUp {
        from {
          transform: translateY(50px);
          opacity: 0;
        }
        to {
          transform: translateY(0);
          opacity: 1;
        }
      }
      img:first-child {
        bottom: 70px;
        left: -70px;
      }
      img:nth-child(2) {
        bottom: 60px;
      }
      img:nth-child(3) {
        bottom: 20px;
        right: 0;
      }
    }
    .cont_nav {
      position: absolute;
      bottom: 0;
      left: 0;
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 100%;
      height: 80px;
      border: 1px solid #eaeaea;
      li {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        color: #696969;
        border-right: 1px solid #eaeaea;
        cursor: pointer;
      }
      li:last-of-type {
        border-right: none;
      }
      li.on {
        background-color: #799fed;
        color: #fff;
      }
    }
  }
}

.cont_con_nav {
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 10;
  .title {
    margin-top: 100px;
    text-align: center;
    strong {
      display: block;
      margin-bottom: 20px;
      font-size: 40px;
      line-height: 60px;
      font-weight: bold;
    }
    p {
      font-size: 20px;
      line-height: 30px;
    }
  }
  ul {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;
    padding: 20px 0;
    li {
      width: 200px;
      height: 68px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      border-radius: 50px;
      background-color: #f4f9ff;
      cursor: pointer;
    }
    li.on {
      background-color: #799fed;
      color: #fff;
    }
  }
}

.cont_con {
  .title {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.6s ease, transform 1.3s ease;

    &.visible {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .title {
    text-align: center;
    margin-bottom: 50px;
    strong {
      font-size: 40px;
      line-height: 60px;
      margin-bottom: 15px;
      display: block;
      span {
        color: #1c84ff;
      }
    }
    p {
      font-size: 16px;
      line-height: 26px;
    }
  }
}

.cont_con1 {
  padding: 100px 0;
  .title {
    strong {
      font-weight: 400;
      span {
        font-weight: bold;
      }
    }
  }
  .content {
    > .img {
      margin: 100px 0 80px 0;
      text-align: center;
    }
    ul {
      li {
        width: 100%;
        padding: 20px;
        background-color: #d4dfff;
        border-radius: 20px;
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        .img {
          width: 70px;
          text-align: center;
          border-right: 2px solid #fff;
        }
        .txt {
          padding-left: 30px;
          strong {
            font-size: 18px;
            display: block;
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}

.cont_con2 {
  padding: 100px 0;
  background-color: #f6f6f6;
  .title {
    p {
      font-size: 20px;
    }
  }
  .content {
    margin: 50px 0;
    .img {
      text-align: center;
    }
  }
}

.cont_con3 {
  padding: 100px 0;
  .content {
    margin: 50px 0;
    .img {
      text-align: center;
    }
  }
}

.cont_con4 {
  padding: 100px 0;
  background-color: #f6f6f6;
  .title {
    strong {
      font-weight: 400;
      span {
        font-weight: bold;
      }
    }
  }
  .priceCard {
    margin: 0 auto;
    height: 500px;
    .exp {
      height: 180px;
    }
  }
}

.cont_con5 {
  padding: 100px 0;
  .title {
    strong {
      font-weight: 400;
      span {
        font-weight: bold;
      }
    }
  }
  .content {
    text-align: center;
    > .img {
      margin: 80px 0 50px 0;
    }
    ul {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 20px;
      li {
        width: 100%;
        height: 240px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 30px;
        border-radius: 30px;
        border: 1px solid #b2c9ed;
      }
    }
  }
}

.cont_con6 {
  padding: 100px 0 150px 0;
  background-color: #f6f6f6;
  button {
    margin: 30px auto 80px auto;
    color: #799fed;
    border: 1px solid #799fed;
    background-color: transparent;
    border-radius: 50px;
    width: 370px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: all 0.3s ease;
  }
  button:hover {
    background-color: #1c84ff;
    border: 1px solid #1c84ff;
    color: #fff;
  }
  .nav-btn {
    position: relative;
    display: flex;
    justify-content: space-between;
    > div {
      position: absolute;
      top: 130px;
      color: #828282;
      cursor: pointer;
    }
    .prev {
      left: -80px;
    }
    .next {
      right: -80px;
    }
  }
  .lec-slide {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    > div {
      width: 100%;
      .img {
        width: 100%;
        border-radius: 30px;
        overflow: hidden;
        height: 260px;
        img {
          width: 100%;
        }
      }
      .txt {
        width: 100%;
        background-color: #dbe1f5;
        border-radius: 10px;
        text-align: center;
        padding: 10px 0;
        margin-top: 10px;
      }
    }
  }
}

.cont_con7 {
  padding-top: 100px;
  .img {
    margin: 50px 0;
    text-align: center;
  }
  .qna {
    > div {
      padding: 15px 0;
      padding-left: 60px !important;
      position: relative;
      span {
        position: absolute;
        left: 20px;
        top: 15px;
        color: #1068ec;
        font-weight: bold;
        font-size: 18px;
      }
    }
    .q {
      border-top: 1px solid #c7c7c7;
      border-bottom: 1px solid #c7c7c7;
      cursor: pointer;
      svg {
        position: absolute;
        top: 15px;
        right: 20px;
        color: #aaa;
      }
    }
    .a {
      background-color: #f8faff;
      height: 0;
      padding: 0;
      overflow: hidden;
      transition: all 0.4s ease;
    }
    .a.open {
      height: fit-content;
      padding: 15px 0;
      border-bottom: 1px solid #c7c7c7;
    }
  }
}
