.lms_banner {
  width: 100%;
  height: calc(100vh - 14px);
  background-color: #d8dff4;
  @media (max-width: 768px) {
    height: unset;
  }
  .wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 100%;
    @media (max-width: 768px) {
      padding: 100px 20px 115px 20px;
    }
    .txt {
      strong {
        font-size: 55px;
        line-height: 80px;
        display: block;
        margin-bottom: 20px;
        @media (max-width: 768px) {
          font-size: 24px;
          line-height: 40px;
        }
      }
      p {
        font-size: 20px;
        line-height: 30px;
        @media (max-width: 768px) {
          display: none;
        }
      }
    }
    .txt.on {
      animation: slideUp 1s forwards;
    }
    .img {
      position: relative;
      width: 700px;
      height: 620px;
      @media (max-width: 768px) {
        display: none;
      }
      img {
        position: absolute;
        opacity: 0;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      }
      img.on {
        animation: slideUp 1s forwards;
      }
      @keyframes slideUp {
        from {
          transform: translateY(50px);
          opacity: 0;
        }
        to {
          transform: translateY(0);
          opacity: 1;
        }
      }
      img:first-child {
        bottom: 100px;
        left: -45px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
      }
      img:nth-child(2) {
        bottom: 0;
        left: 62px;
      }
      img:nth-child(3) {
        top: 0;
        right: 0;
      }
      img:nth-child(4) {
        right: 0;
        bottom: 0;
      }
    }
    .lms_nav {
      position: absolute;
      bottom: 0;
      left: 0;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      width: 100%;
      height: 80px;
      border: 1px solid #eaeaea;
      text-align: center;
      li {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        color: #696969;
        border-right: 1px solid #eaeaea;
        cursor: pointer;
        @media (max-width: 768px) {
          font-size: 14px;
        }
      }
      li:last-of-type {
        border-right: none;
      }
      li.on {
        background-color: #799fed;
        color: #fff;
      }
    }
  }
}

.lms_con {
  .title {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.6s ease, transform 1.3s ease;

    &.visible {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .title {
    text-align: center;
    margin-bottom: 50px;
    @media (max-width: 768px) {
      margin-bottom: 30px;
    }

    strong {
      font-size: 40px;
      line-height: 60px;
      margin-bottom: 15px;
      display: block;
      @media (max-width: 768px) {
        font-size: 18px;
        line-height: 30px;
      }

      span {
        color: #1c84ff;
      }
    }
    p {
      font-size: 16px;
      line-height: 26px;
      @media (max-width: 768px) {
        font-size: 14px;
      }
    }
  }
}

.lms_con1 {
  padding: 120px 0;
  @media (max-width: 768px) {
    padding: 30px 0;
  }
  .content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin-top: 80px;
    @media (max-width: 768px) {
      grid-template-columns: 1fr 1fr;
      margin-top: 40px;
    }
    > div {
      .box {
        background-image: url(../../public/img/lms/lms-con1-bg.png);
        width: 317px;
        height: 225px;
        text-align: center;
        margin-bottom: 20px;
        @media (max-width: 768px) {
          width: 163px;
          height: 116px;
          background-size: contain;
        }
        span {
          color: #fff;
          display: block;
          padding-top: 30px;
          @media (max-width: 768px) {
            padding-top: 10px;
          }
        }
        b {
          font-size: 20px;
          line-height: 30px;
          font-weight: 600;
          display: block;
          padding-top: 50px;
          @media (max-width: 768px) {
            font-size: 15px;
            line-height: 25px;
            padding-top: 10px;
          }
        }
      }
      p {
        text-align: center;
        @media (max-width: 768px) {
          display: none;
        }

        span {
          color: #1c84ff;
          font-weight: 600;
        }
      }
    }
  }
}

.lms_con2 {
  background-color: #f8f8f8;
  padding: 100px 0;
  @media (max-width: 768px) {
    padding: 30px 0;
  }
  .content {
    display: flex;
    align-items: center;
    gap: 200px;
    .left {
      @media (max-width: 768px) {
        display: none;
      }
      li {
        width: 100%;
        height: 60px;
        padding: 20px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.1);
        margin-bottom: 15px;
      }
    }
    @media (max-width: 768px) {
      .right {
        width: 100%;
        img {
          width: 100%;
        }
      }
    }
  }
}

.lms_con3 {
  padding: 100px 0;
  @media (max-width: 768px) {
    display: none;
  }
  .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    > div {
      width: 100%;
      padding: 30px;
      background-color: #eff3f9;
      border-radius: 30px;
      .img {
        margin: 20px 0;
        text-align: center;
      }
      .txt {
        padding: 15px;
        border-radius: 30px;
        background-color: #fff;
        font-size: 20px;
        line-height: 30px;
        text-align: center;
      }
    }
  }
}

.lms_con4 {
  padding: 100px 0;
  background-color: #f8f8f8;
  @media (max-width: 768px) {
    padding: 30px 0;
    background-color: #fff;
  }
  .content {
    text-align: center;
    margin-top: 70px;
    @media (max-width: 768px) {
      margin-top: 40px;
      img {
        width: 100%;
      }
    }
  }
}

.lms_con5 {
  padding: 100px 0;
  @media (max-width: 768px) {
    display: none;
  }
  ul.con-nav {
    margin: 70px 0;
    display: flex;
    justify-content: space-around;
    li {
      cursor: pointer;
      span {
        width: 80px;
        height: 80px;
        border-radius: 100%;
        background-color: #f6f6f6;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      p {
        color: #696969;
        text-align: center;
      }
    }
    li.on {
      span {
        background-color: #1068ec;
      }
      p {
        color: #1068ec;
      }
    }
  }
  .nav-btn {
    position: relative;
    display: flex;
    justify-content: space-between;
    > div {
      position: absolute;
      top: 170px;
      color: #828282;
      cursor: pointer;
    }
    .prev {
      left: -80px;
    }
    .next {
      right: -80px;
    }
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    .txt {
      .ttl {
        strong {
          font-size: 24px;
          line-height: 36px;
        }
        p {
          display: block;
          margin: 20px 0;
          color: #696969;
          font-size: 18px;
          line-height: 27px;
        }
      }
      .expl {
        li {
          position: relative;
          padding-left: 170px;
          color: #696969;
          margin-bottom: 15px;
          span {
            position: absolute;
            left: 20px;
            color: #000;
            font-weight: 600;
          }
          span::before {
            position: absolute;
            left: -20px;
            top: 10px;
            width: 5px;
            height: 5px;
            background-color: #000;
            border-radius: 100%;
            content: "";
          }
        }
      }
    }
  }
}

.lms_con6 {
  padding: 150px 0;
  background-color: #f8f8f8;
  @media (max-width: 768px) {
    padding: 30px 0;
  }
  .title {
    p {
      display: block;
      width: fit-content;
      margin: 0 auto;
      padding: 10px 30px;
      background-color: #fff;
      border-radius: 30px;
    }
  }
  .content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    position: relative;
    @media (max-width: 768px) {
      grid-template-columns: 1fr 1fr;
      gap: 20px;
    }

    > div {
      .box {
        background-image: url(../../public/img/lms/lms-con6-bg.png);
        width: 200px;
        height: 209px;
        text-align: center;
        margin-bottom: 20px;
        margin: 0 auto;
        position: relative;
        @media (max-width: 768px) {
          width: 150px;
          height: 157px;
          background-size: contain;
        }
        span {
          color: #fff;
          display: block;
          padding-top: 30px;
        }
        b {
          font-size: 20px;
          line-height: 30px;
          font-weight: 600;
          display: block;
          padding-top: 50px;
          @media (max-width: 768px) {
            font-size: 15px;
            line-height: 25px;
            padding-top: 27px;
          }
        }
      }
      .box::before {
        width: 0;
        height: 55px;
        border-left: 2px dashed #c5c5c5;
        position: absolute;
        left: 99px;
        bottom: -45px;
        content: "";
        @media (max-width: 768px) {
          display: none;
        }
      }
      .box::after {
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background-color: #e6e6e6;
        border: 2px solid white;
        box-shadow: 0 0 0 1px #e6e6e6;
        position: absolute;
        left: 91px;
        bottom: -65px;
        content: "";
        @media (max-width: 768px) {
          display: none;
        }
      }
      p {
        margin-left: 100px;
        margin-top: 100px;
        @media (max-width: 768px) {
          display: none;
        }
      }
    }
  }
  .content::before {
    position: absolute;
    top: 263px;
    left: -300px;
    width: 100vw;
    height: 2px;
    background-color: #e6e6e6;
    content: "";
    @media (max-width: 768px) {
      display: none;
    }
  }
}

.lms_con7 {
  padding: 100px 0;
  @media (max-width: 768px) {
    padding: 30px 0;
    .title {
      p {
        display: none;
      }
    }
  }

  .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-top: 70px;
    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      margin-top: 30px;
    }
    > div {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 15px;
      padding: 20px 50px;
      background: linear-gradient(to right, #ffcf3d, #ff8a8f);
      border-radius: 20px;
      color: #fff;
      font-size: 20px;
      line-height: 30px;
      @media (max-width: 768px) {
        padding: 15px 50px;
        font-size: 16px;
      }
      cursor: pointer;
      .icn {
        position: absolute;
        top: -15px;
        left: 30px;
        @media (max-width: 768px) {
          img {
            width: 80px;
          }
        }
      }
    }
    > div:last-of-type {
      background: linear-gradient(to right, #ffc8b6, #eb5883);
      .icn {
        top: -30px;
        left: 30px;
      }
    }
  }
}

.lms_con8 {
  padding: 150px 0;
  @media (max-width: 768px) {
    padding: 30px 0;
  }
  .content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    > div {
      text-align: center;
      margin-top: 50px;
      @media (max-width: 768px) {
        margin-top: 20px;
      }
      @media (max-width: 768px) {
        img {
          width: 80px;
        }
      }

      .txt {
        strong {
          font-size: 20px;
          line-height: 50px;
          color: #000;
          @media (max-width: 768px) {
            font-size: 14px;
            line-height: 25px;
            margin-top: 10px;
            display: block;
          }
        }
        p {
          font-size: 16px;
          line-height: 24px;
          font-weight: 600;
          color: #696969;
          @media (max-width: 768px) {
            display: none;
          }
        }
      }
    }
  }
}

.lms_con9 {
  padding: 100px 0;
  background-color: #f8f8f8;

  @media (max-width: 768px) {
    padding: 30px 0;
  }
  .wrap {
    max-width: 800px;
  }
  .content {
    > div {
      width: 100%;
      height: 76px;
      display: flex;
      align-items: center;
      border-radius: 10px;
      overflow: hidden;
      margin-bottom: 30px;
      @media (max-width: 768px) {
        height: 60px;
        margin-bottom: 20px;
      }
      .icn {
        width: 76px;
        height: 100%;
        background-color: #a2d5f4;
        box-shadow: inset -4px 0 8px 0px rgba(89, 151, 196, 0.25);
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
      }
      .icn::after {
        content: "";
        position: absolute;
        right: -15px;
        top: 50%;
        transform: translateY(-50%);
        width: 0;
        height: 0;
        border-top: 9px solid transparent;
        border-bottom: 9px solid transparent;
        border-left: 15px solid #a2d5f4;
      }
      .txt {
        padding: 0 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
        background-color: #fff;
        @media (max-width: 768px) {
          padding: 0 30px;
        }

        strong {
          color: #000;
        }
        p {
          color: #696969;
          font-weight: 400;
          line-height: 28px;
          @media (max-width: 768px) {
            display: none;
          }
        }
      }
    }
    > div:nth-of-type(2) {
      .icn {
        background-color: #7dc3ec;
      }
      .icn::after {
        border-left: 15px solid #7dc3ec;
      }
    }
    > div:nth-of-type(3) {
      .icn {
        background-color: #2e7ec3;
      }
      .icn::after {
        border-left: 15px solid #2e7ec3;
      }
    }
    > div:nth-of-type(4) {
      .icn {
        background-color: #205ba9;
      }
      .icn::after {
        border-left: 15px solid #205ba9;
      }
    }
    > div:nth-of-type(5) {
      .icn {
        background-color: #003c87;
      }
      .icn::after {
        border-left: 15px solid #003c87;
      }
    }
  }
}

.lms_con10 {
  padding: 100px 0;
  @media (max-width: 768px) {
    padding: 30px 0;
  }

  .wrap {
    max-width: 800px;
  }
  .content {
    @media (max-width: 768px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
    }
    > div {
      display: flex;
      align-items: center;
      gap: 40px;
      margin-top: 50px;
      @media (max-width: 768px) {
        margin-top: 0;
        gap: 15px;
      }

      .icn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80px;
        height: 80px;
        border-radius: 100%;
        background-color: #0576fb;
        @media (max-width: 768px) {
          width: 55px;
          height: 55px;
        }
      }
      .txt {
        strong {
          color: #000;
        }
        p {
          color: #696969;
          font-weight: 400;
          line-height: 28px;
          @media (max-width: 768px) {
            display: none;
          }
        }
      }
    }
  }
}

.lms_con11 {
  padding: 100px 0 50px 0;
  @media (max-width: 768px) {
    padding: 30px 0;
  }
  .content {
    text-align: center;
    margin-top: 50px;
    @media (max-width: 768px) {
      margin-top: 25px;
    }
    .img {
      position: relative;
      display: inline-block;
      transition: all 0.3s ease;
      cursor: pointer;
      @media (max-width: 768px) {
        width: 90%;
        img {
          width: 100%;
        }
      }
    }
    .img::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.25);
      opacity: 0;
      transition: all 0.3s ease;
    }

    .img::after {
      content: "+";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: #0576fb;
      color: #fff;
      font-size: 23px;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0;
      transition: all 0.3s ease;
    }

    .img:hover::before,
    .img:hover::after {
      opacity: 1;
    }
  }
}

.lms_con12 {
  padding: 150px 0;
  background-color: #f6f6f6;
  @media (max-width: 768px) {
    padding: 30px 0;
  }

  .content {
    margin-top: 70px;
    @media (max-width: 768px) {
      margin-top: 20px;
    }

    .grid {
      display: grid;
      justify-items: center;
      width: fit-content;
      margin: 0 auto;
      > div {
        margin: 15px;
        width: 400px;
        height: 300px;
        background-color: #fff;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @media (max-width: 768px) {
          width: auto;
          height: auto;
          padding: 20px 10px;
          margin: 5px;
          width: 100px;
          img {
            width: 62px;
          }
        }

        .txt {
          text-align: center;
          strong {
            font-size: 18px;
            display: block;
            margin: 20px 0 10px 0;
            @media (max-width: 768px) {
              font-size: 14px;
              line-height: 25px;
            }
          }
          p {
            color: #696969;
            @media (max-width: 768px) {
              display: none;
            }
          }
        }
      }
    }
    .grid1 {
      grid-template-columns: 1fr 1fr;
    }
    .grid2 {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
