.video_box {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  .background-video {
    position: absolute;
    left: 50%;
    top: 50%;
    width: auto;
    min-width: 100%;
    height: auto;
    min-height: 100%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -100;
  }
  @media (max-width: 768px) {
    .wrap {
      padding: 0;
    }
  }
  .bottom_banner {
    position: fixed;
    z-index: 1000;
    bottom: 0;
    width: 100%;
    max-width: 1280px;
    background-color: #1068ec;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 70px;
    padding: 30px;
    border-radius: 30px 30px 0 0;
    @media (max-width: 768px) {
      padding: 15px;
    }
    .txt {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      gap: 20px;
      @media (max-width: 768px) {
        display: none;
      }
      p {
        color: #fff;
        font-size: 28px;
        font-weight: bold;
      }
    }
    .form {
      display: grid;
      grid-template-columns: 1fr 2fr 0.8fr;
      gap: 10px;
      input {
        width: 100%;
        height: 100%;
        background-color: #fff;
        padding: 15px;
        border-radius: 10px;
      }
      button {
        border-radius: 10px;
        background-color: #ff9000;
        color: #fff;
      }
    }
    .banner-label {
      display: block;
      width: 127px;
      height: 36px;
      background-color: transparent;
      background-image: url(../../public/img/main/main-banner.png);
      background-size: contain;
      position: absolute;
      left: 50%;
      margin-left: -63px;
      top: -35px;
      @media (max-width: 768px) {
        width: 100px;
        height: 30px;
        margin-left: -50px;
        top: -27px;
      }
    }
  }
}

.main_sec1 {
  padding: 50px 0 80px 0;
  @media (max-width: 768px) {
    padding: 40px 0;
  }
  .top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-bottom: 30px;
    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      margin-bottom: 0px;
    }
    > div {
      background: linear-gradient(to right, #a2ded8, #afcdf4);
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px;
      transition: all 0.3s ease;
      cursor: pointer;
      @media (max-width: 768px) {
        padding: 12px;
      }

      p {
        background: linear-gradient(to right, #01887d, #0b3796);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 20px;
        font-weight: bold;
        display: flex;
        align-items: center;
        gap: 10px;
        @media (max-width: 768px) {
          font-size: 16px;
        }

        svg {
          color: #0a4392;
        }
      }
    }
    > div:hover {
      transform: translateY(-3px);
      box-shadow: 0px 7px 16px 0px rgba(0, 0, 0, 0.15);
    }
  }
  .bottom {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
    @media (max-width: 768px) {
      display: none;
    }
    > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      background-color: #f6f6f6;
      padding: 40px 0;
      border-radius: 10px;
      .txt {
        margin-top: 20px;
        text-align: center;
        b {
          display: block;
          font-size: 20px;
          margin-bottom: 10px;
        }
        p {
          color: #535353;
        }
      }
    }
  }
}

.main_sec2 {
  padding: 100px 0;
  @media (max-width: 768px) {
    padding: 40px 0;
  }
  background-color: #f0f6f8;
  .wrap {
    max-width: 880px;
  }
  .title {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 80px;
    text-align: center;
    @media (max-width: 768px) {
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 30px;
    }
    em {
      color: #52b0cf;
    }
  }
  ul {
    li {
      background-color: #fff;
      margin-bottom: 10px;
      border-radius: 10px;
      padding: 15px 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media (max-width: 768px) {
        padding: 10px 20px;
      }
    }
  }
}

.main_sec3 {
  padding: 100px 0;
  @media (max-width: 768px) {
    padding: 40px 0;
  }
  .title {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 80px;
    text-align: center;
    @media (max-width: 768px) {
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 30px;
    }
  }
  ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
    li {
      .top {
        background-image: url(../../public/img/main/main-con3-back1.png);
        background-size: cover;
        height: 216px;
        padding: 30px;
        @media (max-width: 768px) {
          height: 174px;
          padding: 20px;
        }
        b {
          font-size: 24px;
          line-height: 36px;
          margin-bottom: 10px;
          display: inline-block;
          @media (max-width: 768px) {
            font-size: 18px;
            line-height: 27px;
          }
        }
      }
      .bottom {
        background-color: #f6f6f6;
        padding: 25px 50px;
        height: 170px;
        line-height: 28px;
        @media (max-width: 768px) {
          display: none;
        }
      }
    }
    li:nth-child(2) {
      .top {
        background-image: url(../../public/img/main/main-con3-back2.png);
      }
    }
    li:nth-child(3) {
      .top {
        background-image: url(../../public/img/main/main-con3-back3.png);
      }
    }
  }
}

.main_sec4 {
  background-color: #f0f6f8;
  padding: 100px 0;
    @media (max-width: 768px) {
        padding:30px 0;
    } 


  .title {
    text-align: center;
    font-size: 40px;
    line-height: 60px;
    
     @media (max-width: 768px) {
            font-size: 20px;
            line-height: 30px;
    }

    em {
      font-weight: bold;
      color: #52b0cf;
    }
  }
  .nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #fff;
    border-radius: 100px;
    padding: 10px;
    width: fit-content;
    margin: 60px auto;
        @media (max-width: 768px) {
          padding: 7px 10px;
          margin: 30px auto;
    }   

    li {
      width: 200px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      color: #696969;
      border-radius: 50px;
      cursor: pointer;
          @media (max-width: 768px) {
            width: 100px;
            font-size: 14px;
            height: 40px;
    }   
    }
    li.on {
      color: #fff;
      background-color: #487ff2;
    }
  }
  .con {
    display: flex;
        flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-bottom: 50px;
  }
  .con2 {
    .priceCard {
      height: 510px;
          @media (max-width: 768px) {
            height: 380px;
      }   

      .ttl {
        padding-bottom: 45px;
      }
      .tab {
        display: flex;
        justify-content: center;
        margin-top: -31px;
        li {
          width: 100px;
          font-size: 16px;
          color: #a6a6a6;
          padding-bottom: 5px;
          cursor: pointer;
          text-align: center;
        }
        li.on {
          color: #52a3cf;
          border-bottom: 2px solid #52a3cf;
        }
      }
      .exp {
        height: 160px;
      }
    }
  }
}

.main_sec5 {
  padding: 100px 0;
  @media (max-width: 768px) {
    padding: 0;
  }
  .title {
    text-align: center;
    font-size: 40px;
    line-height: 60px;
    font-weight: bold;
    margin-bottom: 50px;
    @media (max-width: 768px) {
      font-size: 18px;
      line-height: 30px;
      margin-bottom: 30px;
    }
  }
  .con {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      > .news:nth-of-type(1),
      > .news:nth-of-type(2) {
        display: none;
      }
    }
    .news {
      .img {
        position: relative;
        width: 100%;
        height: 230px;
        margin-bottom: 10px;
        transition: all 0.5s ease;
        cursor: pointer;
        img {
          width: 100%;
          height: 100%;
        }
        &::before,
        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0;
          transition: opacity 0.3s ease;
          pointer-events: none;
        }
      }
      .txt {
        font-size: 16px;
      }
    }
    .news:hover {
      .img::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.5);
        opacity: 1;
      }
      .img::after {
        content: "+";
        font-size: 30px;
        color: #fff;
        font-weight: bolder;
        width: 56px;
        height: 56px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        background-color: #0576fb;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -28px;
        margin-top: -28px;
        opacity: 1;
      }
    }
  }

  button {
    padding: 10px 20px;
    border: 1px solid;
    border-radius: 30px;
    background-color: #fff;
    display: block;
    margin: 50px auto;
    transition: all 0.3s ease;
    @media (max-width: 768px) {
      margin: 30px auto 40px auto;
      padding: 6px 20px;
    }
  }
  button:hover {
    background-color: #000;
    color: #fff;
  }
}
